<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDjio_0h381jREPEJZc-XyjifpCg0MsAEU</string>
	<key>GCM_SENDER_ID</key>
	<string>863194159846</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lowbytestudio.MetalDetector</string>
	<key>PROJECT_ID</key>
	<string>metal-detector-259ee</string>
	<key>STORAGE_BUCKET</key>
	<string>metal-detector-259ee.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:863194159846:ios:00af63103530b1efa2b927</string>
</dict>
</plist>
